body {
  font-family: "SegoeUI", "sans-serif";
  color: white;
}

.main {
  width: 100%;
  background: white;
  background-size: cover;
  height: 969px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.todo {
  position: relative;
  top: 100px;
  height: 800px;
  width: 100%;
  background: url("img/2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.todo_container {
  height: 100%;
  position: relative;
}

.header h1 {
  font-size: 28px;
}
.header p {
  font-size: 16px;
}

.header_panel {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.header_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select_btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  outline: none;
  border: 0;
  padding: 1px 3px;
  border-radius: 3px;
  font-size: 18px;
}

.btn_theme {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  cursor: pointer;
  padding: 1px 1px;
  margin-left: 10px;
}
.btn_theme:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.75);
}

.btn_dot {
  display: inline-block;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: white;
  position: absolute;
  margin: 0 auto;
  top: 12px;
  left: 12px;
}
.btn_dot::after {
  content: " ";
  display: inline-block;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: white;
  position: absolute;
  margin: 0 auto;
  left: 7px;
}
.btn_dot::before {
  content: " ";
  display: inline-block;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: white;
  position: absolute;
  margin: 0 auto;
  right: 7px;
}

.task_panel {
  width: 100%;
  padding-top: 5px;
  height: 530px;
  overflow: auto;
  overflow-x: hidden;
}

.task {
  background-color: #2F2C2C;
  height: 50px;
  width: 690px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 5px;
  width: 98%;
}

.circle_done {
  width: 17px;
  height: 17px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.circle {
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
  margin-right: 15px;
}

.task_text {
  font-size: 15px;
  width: 92%;
}

.star {
  position: absolute;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.add_task {
  width: 98%;
  position: absolute;
  bottom: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.task_input {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 0;
  outline: 0;
  width: 100%;
}

.task_input::-moz-placeholder {
  color: white;
}

.task_input::-webkit-input-placeholder {
  color: white;
}

.task_input:focus::-webkit-input-placeholder {
  color: transparent;
}

.plus {
  margin-right: 15px;
  font-size: 21px;
  color: #ccc;
  opacity: 0.5;
}
